<div class="row">

  <div class="col s12">

        <a class="waves-effect waves-light btn left" [routerLink]="['/blogs']"><i class="material-icons left">arrow_back</i>Back</a>

  </div>

  <div class="col s12">
    <div class="card-panel white">
      <div class="row">

        <div class="col s12 m8">
          <h5>Title</h5>
          <div class="text title-edit" id="heading" contenteditable="true"></div>
        </div>

        <div class="col s12 m4">
          <div class="input-field">
            <select id="category">
              <option value="" disabled selected>Choose Category</option>
              <option value="1">Sports</option>
              <option value="2">Technology</option>
              <option value="3">Entertainment</option>
            </select>
            <!--<label>Materialize Select</label>-->
          </div>
        </div>

      </div>
      <div class="row">

        <div class="col s12">
          <h5>Content</h5>
          <div class="text content-edit" id="body" contenteditable="true"></div>
          <br>
          <a class="waves-effect waves-light btn" (click)="onCreate()"><i class="material-icons left">create</i>Create</a>
        </div>

      </div>
    </div>
  </div>

</div>
